.form_priority {
    margin: 10px;
    padding: 2.7;
}

body{
    background-color: greenyellow;
}
label{
    margin: 10px;
}
h1{
    margin: auto;
    width: auto;
    background-color: honeydew;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
}

.form_assign{
    
    padding: 2.7;
    margin: 10px;

}

body{
    margin: 40px;
}

#getInfo{
    color: blue;

    margin-left: -5px;
    width: 44%;
    margin-top: 20px;
}

button{
    appearance: auto;
    
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color:gray;
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}