
.critical {
    background-color: red;
}

.important {
    background-color: rgba(255, 94, 0, 0.925);
}

.normal {
    background-color: green;
}

.low {
    background-color:gold ;
}

.form-indent {
    margin: auto;
    width: 100%;
    background-color: rgb(10, 114, 10);
    padding: 11px;
    text-align: center;



}
.form_title {
    margin: 2.7px;
    padding: 2.7px;
}
.form_assign{
    
    margin: 2.7px;
    padding: 2.7;

}

h1{
    margin: auto;
    width: auto;
    background-color: honeydew;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
}
.form_priority {
    margin: 2.7px;
    padding: 2.7;
}

.form_due{
    margin: 2.7px;
    padding: 2.7;
    
}



#title{
    margin: 6px;
}
#assignedTo{
    margin: 0.5%;
    margin-left: 0 60xpx;
    width: 110px;

}
#priority{
    margin: 0.5%;
    margin-left: 0 60xpx;
    width: 110px;
}
#dueDate{
    margin: 0.5%;
    margin-left: 0 60xpx;
    width: 110px;

}

#taskList{
    margin: left;
    padding: 20px;
    text-align: left;
}
#addTaskBtn{
    margin-left: -15px;
    width: 104%;
    margin-top: 20px;
}